/* ======== Barra superior ======== */
/* ===== Navbar ===== */
.navbar {
    position: relative;
    background-color: #4F3E9B;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}

/* Contenedor izquierda: hamburguesa + mensaje */
.nav-izquierda {
    display: flex;
    align-items: center;
    /* centra verticalmente */
}

/* Mensaje de bienvenida */
.mensaje-usuario {
    margin-left: 50px;
    /* separación de la hamburguesa */
    font-size: 40px;
    font-weight: bold;
    color: #fff;
    align-self: center;
    /* centra verticalmente */
}

.logo {
    display: flex;
    align-items: center;
    /* centra verticalmente */
    gap: 15px;
    /* espacio entre logo y texto */
    font-weight: bold;
    font-size: 60px;
    /* aumenta el tamaño del texto */
    color: #fff;
}

.logo-img {
    width: 60px;
    /* aumenta el tamaño del logo */
    height: 60px;
}




/* ======== Icono hamburguesa ======== */
.hamburger {
    width: 30px;
    height: 22px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.hamburger span {
    height: 4px;
    background: #fff;
    border-radius: 2px;
    transition: 0.3s;
}

/* Animación al abrir */
.hamburger.active span:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
}

.hamburger.active span:nth-child(2) {
    opacity: 0;
}

.hamburger.active span:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
}

/* ======== Menú desplegable ======== */
.menu {
    position: absolute;
    top: 80px;
    /* debajo del navbar */
    left: 0;
    /* alineado al borde izquierdo */
    width: 350px;
    /* ancho fijo del menú */
    height: calc(100vh - 80px);
    /* se extiende hasta el final de la pantalla */
    background: #F7F4FF;
    border-radius: 0;
    /* sin esquinas redondeadas */
    padding: 20px;
    display: none;
    flex-direction: column;
    /* enlaces en columna */
    overflow-y: auto;
    /* agrega scroll si hay más enlaces */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.cerrar-sesion {
    margin-top: auto;
    /* empuja el enlace hacia el final del menú */
}

.menu.show {
    display: flex;
}

.menu a {
    color: #000000;
    padding: 12px 15px;
    display: flex;
    align-items: center;
    /* enlaces más grandes y con espacio */
    text-decoration: none;
    font-size: 25px;
    /* texto más grande */
    font-weight: bold;
    gap: 10px;
    transition: background 0.2s;
}

.menu a:hover {
    background: #E5DBFE;
    /* cambio de color al pasar el mouse */
}

.menu-icon {
    width: 35px;
    /* Ajusta el tamaño del icono */
    height: 35px;
}

.menucerrar-icon {
    width: 35px;
    /* Ajusta el tamaño del icono */
    height: 35px;
    rotate: -180deg;
}


/* ======== Contenido principal ======== */
.contenido {
    padding: 20px;
}